.home_bg {
    background-image: url("home_background.jpg");
}
.table {
	z-index:100;
}
#apDiv1 {
margin-left: auto;
margin-right: auto;
width:800px;
z-index:1;
margin-top: 20px;
}
#apDiv2 {
margin-left: auto;
margin-right: auto;
width:500px;
z-index:1;
margin-top: 200px;
}
#checkboxes {
padding-left: 50px;
}
.style1 {
color: #7A6352;
font-size: 36px;
font-weight: bold;
background: #f9f9f9;
padding-left: 60px;
padding-right: 60px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 10px;
border: 1px solid #dddddd;
}
.style2 {
color: #006666;
font-size: 16px;
font-weight: bold;
background: #f9f9f9;
padding-left: 40px;
padding-right: 40px;
padding-top: 5px;
padding-bottom: 5px;
border-radius: 10px;
border: 1px solid #dddddd;
}
#message_container {
display: none;
position : fixed;
top: 20px;
left:80px;
z-index: 1;
}
.style21 {
	background-color:rgba(187, 186, 168, 0.8);
}

.ui-autocomplete { height: 200px; width: 300px; overflow-y: scroll; overflow-x: scroll;}
.style18 {color: #44414F; font-weight: bold; font-size: 18px; opacity: 1.0;}
.style19 {font-size: 18px}