<!DOCTYPE html>

<html>

<head>
	<script src="static/jquery-1.11.2.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="static/mystyle.css">
</head>


<body>
	<div id="apDiv2">
		<table class="table table-bordered" align="center">
			<tr>
				<th>Farmer Confidence</th>
				<td>{{input.farmer_confidence}}</td>
			</tr>
			{% if input.crop_confidence.status=="success" %}
			<tr>
				<th>Soil Confidence</th>
				<td>{{input.crop_confidence.soil_score}}</td>
			</tr>
			<tr>
				<th>Temperature Confidence</th>
				<td>{{input.crop_confidence.temp_score}}</td>
			</tr>
			<tr>
				<th>Rain Confidence</th>
				<td>{{input.crop_confidence.rain_score}}</td>
			</tr>			
			<tr class="info">
				<th>Overall Confidence</th>
				<td>{{input.overall_confidence}}</td>
			</tr>			
			{% endif %}						
		</table>
	</div>
</body>

</html>